@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

body, button, .retro{ font-family: 'Press Start 2P', monospace; }

body{ margin-top:45px; }

.h2{ color:black; }
canvas{ border:1px solid black; }

#container{
	margin-left:auto; margin-right:auto;
	width:600px;/*def. width*/
	position: relative;
}
#gameplay{
	height:100%;
}
#layers{
	position: relative;
}
#layers canvas{
	position:absolute;
	left:0px;
	top:0px;
}
canvas#board{ z-index:1; }
canvas#moves{ z-index:2; }
canvas#pieces{ z-index:3; }
.hidden{ display:none; }
#dialog{
	position:relative;
	margin: 50% auto 0% auto;
	z-index: 10;
	color: white;
	font-size: 24px;
	padding:20px;
	border: 3px dashed white;
	background-color:#D33;
}

button{ border:0; }

ul#menu{ list-style: none; }

ul#menu li{ margin-bottom: 10px; width:500px; }

#menu button{
	height:50px;
	width:100%;
	background-color:#369;
	color:#eee;
	border-radius:10px;
	font-size: 24px;
	padding:;
}
#menu button:hover{ background-color:#58A; }

#ui h2{ text-align: center; font-size:30px; }

#randomtag{ color:#999; font-size:16px; text-align: center; }
#content{
	 position:absolute;
	 min-height:100%;
	 width:100%;

}
#modal{
	margin-right: auto;
	margin-left: auto;
	width:100%;
	text-align:center;
	font-size:22px;
}
.halfdown{margin-top:50%;}
.error{ color:#b00; }

#playerScores{
	z-index: 10;
	position: fixed;
	top: 0px;
	left: 0px;
	color:black;
	background-color:#F3F317;
	padding:3px;
	border-bottom: 2px solid black;
	width:100%
}

#playerScores div, #playerScores .lefty{
	float:left;
	margin-right:20px;
}

#joinform{
	text-align: center;
	padding-top:10px;
	padding-bottom:10px;
	border: 2px dashed #cdc;
	border-top: none;
}

#joinform button, #joinform input{
	width: auto !important;
	height:35px;
}
